<div class="subheader">
    <h1 class="subheader-title">
        Material Issue Approve
    </h1>
    <button class="btn btn-outline-primary btn-sm" routerLink="/materialissue/material-issue-container"><i
            class="fal fa-arrow-left mr-2"></i> Back to Material Issue</button>
</div>
<div class="card p-3">
    <form [formGroup]="materialIssueForm">
        <div class="d-flex flex-wrap mb-3 col-md-10">
            <div class="form-group form-input-line col-6">
                <div>
                    <label>Material Request No</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <input type="text" [readonly]="true" class="e-input" formControlName="materialRequestNumber">
                </div>
            </div>
            <div class="form-group form-input-line col-6">
                <div>
                    <label>Workcenter</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <ejs-dropdownlist class="ml-1" [readonly]="true" placeholder="Search" [dataSource]='workCenter'
                        popupHeight='150px' formControlName="workCenterCode" floatLabelType='Never'
                        (change)="onChangeWorkCenter($event)"
                        [fields]="{text: 'workCenterName', value: 'workCenterCode' }" [allowFiltering]='true'>
                    </ejs-dropdownlist>
                </div>
            </div>
            <div class="form-group form-input-line col-6">
                <div>
                    <label>From Warehouse </label>
                    <sup class="text-danger">*</sup>
                </div>

                <div>
                    <ejs-dropdownlist [dataSource]='materialIssueFrom' [readonly]="true"
                        [fields]="{text: 'name', value: 'code' }" formControlName="requestMaterialFromCode"
                        (change)="onChangeMaterialIssueFrom($event)" placeholder="Search" [allowFiltering]='true'>
                    </ejs-dropdownlist>
                </div>
            </div>
            <div class="form-group form-input-line col-6">
                <div>
                    <label>To Warehouse </label>
                    <sup class="text-danger">*</sup>
                </div>

                <div>
                    <ejs-dropdownlist [dataSource]='materialIssueTo' [readonly]="true"
                        formControlName="requestMaterialToCode" [fields]="{text: 'name', value: 'code' }"
                        (change)="onChangeMaterialIssueTo($event)" placeholder="Search" [allowFiltering]='true'>
                    </ejs-dropdownlist>
                </div>
            </div>
            <div class="form-group form-input-line col-6">
                <div>
                    <label>Date</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <ejs-datepicker placeholder='Choose a date' [readonly]="true" formControlName="requestedDate">
                    </ejs-datepicker>
                </div>
            </div>
            <div class="form-group form-input-line col-6">
                <div>
                    <label>Request By</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <input type="text" formControlName="requestedBy" [readonly]="true" class="e-input">

                </div>
            </div>
            <div class="form-group form-input-line col-12">
                <div>
                    <label>Remarks</label>
                </div>
                <div>
                    <textarea type="text" formControlName="remarks" [readonly]="true" class="e-input"></textarea>
                </div>
            </div>
        </div>
        <div>
            <ejs-grid [dataSource]='detailsMaterialIssue' [toolbar]='toolbar' [editSettings]='editSettings'
                (actionBegin)='actionBegin($event)' gridLines='Both' (headerCellInfo)='headerCellInfo($event)'
                (actionComplete)='actionComplete($event)'>
                <e-columns>
                    <e-column headerText='S.No.' width='50'>
                        <ng-template #template let-d>
                            <div>{{ +d.index+1 }}</div>
                        </ng-template>
                    </e-column>
                    <e-column field='itemCode' [visible]="false"></e-column>
                    <e-column field='itemName' headerText='Item Code/Name' isPrimaryKey='true' width='120'></e-column>
                    <e-column field='requestedQuantityUOMCode' [visible]="false"></e-column>
                    <e-column field='requestedQuantityUOMName' [visible]="false"></e-column>
                    <e-column field='requestedQuantity' headerText='Requested Qty UOM' width='120'></e-column>
                    <e-column field='stockQuantityUOMCode' [visible]="false"></e-column>
                    <e-column field='stockQuantityUOMName' [visible]="false"></e-column>
                    <e-column field='stockQuantity' headerText='Stock Qty UOM' width='120'></e-column>
                    <e-column field='suggestedQuantityUOMCode' [visible]="false"></e-column>
                    <e-column field='suggestedQuantityUOMName' [visible]="false"></e-column>
                    <e-column field='suggestedQuantity' headerText='Suggested Qty UOM' width='120'></e-column>
                    <e-column field='storeQuantityUOMCode' [visible]="false"></e-column>
                    <e-column field='storeQuantityUOMName' [visible]="false"></e-column>
                    <e-column field='storeQuantity' headerText='Store Qty UOM' width='120'></e-column>
                    <e-column field='issueQuantityUOMCode' [visible]="false"></e-column>
                    <e-column field='issueQuantityUOMName' [visible]="false"></e-column>
                    <e-column field='issueQuantity' headerText='Issue Qty UOM' width='120'></e-column>
                    <e-column field='remarks' headerText='Remarks' width='100'></e-column>
                    <e-column headerText='Actions' width=70 [commands]='commands'></e-column>
                </e-columns>
                <ng-template #editSettingsTemplate let-data>
                    <div [formGroup]="materialItemDetailsForm">
                        <div class="d-flex flex-wrap">
                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label>Item Code/Name</label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div>
                                    <input type="hidden" formControlName="itemCode" id="itemCode" name="itemCode">
                                    <ejs-dropdownlist [readonly]="true" [dataSource]='items' formControlName="itemName"
                                        id="itemName" name="itemName" (change)="onChangeItem($event)"
                                        placeholder="Search Item" [fields]="{text: 'itemName', value: 'itemName' }"
                                        [allowFiltering]='true'>
                                    </ejs-dropdownlist>

                                </div>
                            </div>
                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label>Requested Qty UOM</label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div class="col-12 d-flex">
                                    <input type="hidden" formControlName="requestedQuantityUOMCode"
                                        id="requestedQuantityUOMCode" name="requestedQuantityUOMCode">
                                    <ejs-dropdownlist [readonly]="true" [dataSource]='uom'
                                        formControlName="requestedQuantityUOMName" id="requestedQuantityUOMName"
                                        name=requestedQuantityUOMName (change)="onChangeRequestedQtyUOM($event)"
                                        placeholder="Search UOM" [fields]="{text: 'uomName', value: 'uomName' }"
                                        [allowFiltering]='true'>
                                    </ejs-dropdownlist>
                                    <ejs-numerictextbox [readonly]="true" class="e-input e-field"
                                        formControlName="requestedQuantity" id="requestedQuantity"
                                        name="requestedQuantity" [showSpinButton]='false'>
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label>Stock Qty UOM </label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div class="col-12 d-flex">
                                    <input type="hidden" formControlName="stockQuantityUOMCode"
                                        id="stockQuantityUOMCode" name="stockQuantityUOMCode">
                                    <ejs-dropdownlist [readonly]="true" [dataSource]='stockQtyUom'
                                        formControlName="stockQuantityUOMName" id="stockQuantityUOMName"
                                        name="stockQuantityUOMName" (change)="onChangeStockQtyUOM($event)"
                                        placeholder="Search UOM" [fields]="{text: 'uomName', value: 'uomName' }"
                                        [allowFiltering]='true'>
                                    </ejs-dropdownlist>
                                    <ejs-numerictextbox [readonly]="true" class="e-input e-field"
                                        [showSpinButton]='false' formControlName="stockQuantity" id="stockQuantity"
                                        name="stockQuantity">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label>Suggested Qty UOM</label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div class="col-12 d-flex">
                                    <input type="hidden" formControlName="suggestedQuantityUOMCode"
                                        id="suggestedQuantityUOMCode" name="suggestedQuantityUOMCode">
                                    <ejs-dropdownlist [readonly]="true" [dataSource]='suggestedQtyUom'
                                        formControlName="suggestedQuantityUOMName" id="suggestedQuantityUOMName"
                                        name="suggestedQuantityUOMName" (change)="onChangeSuggestedQtyUOM($event)"
                                        placeholder="Search UOM" [fields]="{text: 'uomName', value: 'uomName' }"
                                        [allowFiltering]='true'>
                                    </ejs-dropdownlist>
                                    <ejs-numerictextbox [readonly]="true" class="e-input e-field"
                                        [showSpinButton]='false' formControlName="suggestedQuantity"
                                        id="suggestedQuantity" name="suggestedQuantity">
                                    </ejs-numerictextbox>
                                </div>
                            </div>



                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label
                                        [ngClass]="{'e-error': (storeQuantityUOMName.invalid && (storeQuantityUOMName.dirty || storeQuantityUOMName.touched))
                                    || (storeQuantity.invalid && (storeQuantity.dirty || storeQuantity.touched))}">Store
                                        Qty UOM</label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div class="col-12 d-flex">
                                    <input type="hidden" formControlName="storeQuantityUOMCode"
                                        id="storeQuantityUOMCode" name="storeQuantityUOMCode">
                                    <ejs-dropdownlist [dataSource]='storeQtyUom' formControlName="storeQuantityUOMName"
                                        id="storeQuantityUOMName" name="storeQuantityUOMName"
                                        (change)="onChangeStoreQtyUOM($event)" placeholder="Search UOM"
                                        [fields]="{text: 'uomName', value: 'uomName' }" [allowFiltering]='true' autofocus>
                                    </ejs-dropdownlist>
                                    <div *ngIf="(storeQuantityUOMName.invalid && (storeQuantityUOMName.dirty || storeQuantityUOMName.touched))||(storeQuantityUOMName.invalid&& submitClicked)"
                                        class="e-error d-block">
                                        <div *ngIf="storeQuantityUOMName.errors.required">
                                            Store UOM is required.
                                        </div>
                                    </div>
                                    <ejs-numerictextbox class="e-input e-field" [showSpinButton]='false'
                                        formControlName="storeQuantity" id="storeQuantity" name="storeQuantity">
                                    </ejs-numerictextbox>
                                    <div *ngIf="(storeQuantity.invalid && (storeQuantity.dirty || storeQuantity.touched))||(storeQuantity.invalid&& submitClicked)"
                                        class="e-error d-block">
                                        <div *ngIf="storeQuantity.errors.required">
                                            Store Quantity is required.
                                        </div>
                                        <div *ngIf="storeQuantity.errors.max">
                                            Store Quantity cannot be more than 6 digits.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-input-line col-6">
                                <div>
                                    <label
                                        [ngClass]="{'e-error': (issueQuantityUOMName.invalid && (issueQuantityUOMName.dirty || issueQuantityUOMName.touched))
                                    || (issueQuantity.invalid && (issueQuantity.dirty || issueQuantity.touched))}">Issue
                                        Qty UOM</label>
                                    <sup class="text-danger">*</sup>
                                </div>
                                <div class="col-12 d-flex">
                                    <input type="hidden" formControlName="issueQuantityUOMCode"
                                        id="issueQuantityUOMCode" name="issueQuantityUOMCode">
                                    <ejs-dropdownlist [dataSource]='issueQtyUom' formControlName="issueQuantityUOMName"
                                        id="issueQuantityUOMName" name="issueQuantityUOMName"
                                        (change)="onChangeIssueQtyUOM($event)" placeholder="Search UOM"
                                        [fields]="{text: 'uomName', value: 'uomName' }" [allowFiltering]='true'>
                                    </ejs-dropdownlist>
                                    <div *ngIf="(issueQuantityUOMName.invalid && (issueQuantityUOMName.dirty || issueQuantityUOMName.touched))||(issueQuantityUOMName.invalid&& submitClicked)"
                                        class="e-error d-block">
                                        <div *ngIf="issueQuantityUOMName.errors.required">
                                            Issue UOM is required.
                                        </div>
                                    </div>
                                    <ejs-numerictextbox class="e-input e-field" [showSpinButton]='false'
                                        formControlName="issueQuantity" id="issueQuantity" name="issueQuantity">
                                    </ejs-numerictextbox>
                                    <div *ngIf="(issueQuantity.invalid && (issueQuantity.dirty || issueQuantity.touched))||(issueQuantity.invalid&& submitClicked)"
                                        class="e-error d-block">
                                        <div *ngIf="issueQuantity.errors.required">
                                            Issue Quantity is required.
                                        </div>
                                        <div *ngIf="issueQuantity.errors.max">
                                            Issue Quantity cannot be more than 6 digits.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-input-line col-12"  [ngClass]="{'e-error': (remarksCtrl.invalid && (remarksCtrl.dirty || remarksCtrl.touched))}">
                                <div>
                                    <label>Remarks</label>
                                </div>
                                <div>
                                    <textarea type="text" class="e-input"  formControlName="remarks"
                                        id="remarks" name="remarks"></textarea>
                                        <div *ngIf="(remarksCtrl.invalid && (remarksCtrl.dirty || remarksCtrl.touched))||(remarksCtrl.invalid&& submitClicked)"  class="e-error d-block">
                               
                                            <div *ngIf="remarksCtrl.errors.maxlength">
                                                Remarks cannot be more than 128 characters.
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </ejs-grid>
        </div>
        <div class="modal-footer">
            <button ejs-button cssClass="e-outline" (click)="materialRequestApprove()"
                [isPrimary]="true">Approve</button>
            <button ejs-button cssClass="e-outline" [disabled]="disableOnHold" (click)="materialOnHold()"
                [isPrimary]="true">Hold</button>
            <button ejs-button cssClass="e-outline" (click)="rejected()" [isPrimary]="true">Reject</button>
            <a routerLink="/materialissue/material-issue-container">
                <button ejs-button cssClass="e-outline">Cancel</button>
            </a>
        </div>
    </form>
</div>