<div class="bg-gray-200 h5 pl-2 py-1 m-0 text-center">
    Task Details
</div>
<div class="d-flex flex-wrap">
    <div class="col-6 text-muted text-right mt-2">Name</div>
    <div class="col-6 mt-2">{{taskDetail?.taskName}}</div>
    <div class="col-6 text-muted text-right mt-2">Code</div>
    <div class="col-6 mt-2">{{taskDetail?.taskCode}}</div>
    <div class="col-6 text-muted text-right mt-2">Cost Rate/Hr</div>
    <div class="col-6 mt-2">{{task?.cost}}</div>
    <div class="col-6 text-muted text-right mt-2">Quality Control</div>
    <div class="col-6 mt-2">
        <span *ngIf="taskDetail?.qualityControlRequired"> Yes</span>
        <span *ngIf="!taskDetail?.qualityControlRequired"> No</span>
    </div>
    <div class="col-6 text-muted text-right mt-2">Previous Task</div>
    <div class="col-6 mt-2">
        <span *ngIf="taskDetail?.isRelatedTask"> Yes</span>
        <span *ngIf="!taskDetail?.isRelatedTask"> No</span>
    </div>
</div>