<div>
    <div class="bg-gray-200 h5 pl-2 py-1 m-0">
        Manpowers
    </div>
    <ejs-grid [dataSource]='mappedList' [editSettings]='editSettings' [toolbar]='toolbar' (commandClick)='commandClick($event)' 
        (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' gridLines='Both'>
        <e-columns>
            <e-column headerText='S.No.' [allowEditing]="false">
                <ng-template #template let-d>
                    <div>{{ +d.index+1 }}</div>
                </ng-template>
            </e-column>
            <e-column field='manpowerCategory' headerText='Category' isPrimaryKey='true'></e-column>
            <e-column field='noOfResources' headerText='No. of Resources'></e-column>
            <e-column field='costPerHour' headerText='Cost Rate/Hr'></e-column>
            <e-column field='currencyCode' headerText='Currency'></e-column>
            <e-column headerText='Actions' [commands]='commands'></e-column>
        </e-columns>
        <e-aggregates>
            <e-aggregate>
                <e-columns>
                    <e-column type="sum" field="costPerHour">
                        <ng-template #footerTemplate let-data>
                            <span>
                                <span class="fs-b">Total:</span>
                                <span class="float-right font-weight-bold">{{data.sum}}</span>
                            </span>
                        </ng-template>
                    </e-column>
                </e-columns>
            </e-aggregate>
        </e-aggregates>
        <ng-template #editSettingsTemplate let-data>
            <div [formGroup]="manpowerForm">
                <div class="d-flex flex-wrap align-items-center">
                    <div class="form-group form-input-line col-6"  [ngClass]="{'e-error': manpowerCategoryId.invalid && (manpowerCategoryId.dirty || manpowerCategoryId.touched || submitClicked)}">
                        <div>
                            <label for="machineId">Category</label>
                            <sup class="text-danger">*</sup>
                        </div>
                        <div>
                            <ejs-dropdownlist id='atcelement' formControlName="manpowerCategoryCode"
                                name='manpowerCategoryCode' #manpowerCategoryCode [dataSource]='manpowers' [fields]='fields'
                                [allowFiltering]='true' placeholder="Search manpower category">
                            </ejs-dropdownlist>
                            <div *ngIf="manpowerCategoryId.invalid && (manpowerCategoryId.dirty || manpowerCategoryId.touched || submitClicked)" class="e-error d-block">
                                <div *ngIf="manpowerCategoryId.errors.required">
                                    Category is required.
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group form-input-line col-6" [ngClass]="{'e-error': noOfResources.invalid && (noOfResources.dirty || noOfResources.touched || submitClicked)}">
                        <div>
                            <label for="noOfResources">No of Resources</label>
                            <sup class="text-danger">*</sup>
                        </div>
                        <div>
                            <ejs-numerictextbox class="e-input " id="noOfResources" name="noOfResources"
                                [showSpinButton]='false' formControlName="noOfResources">
                            </ejs-numerictextbox>
                            <div *ngIf="noOfResources.invalid && (noOfResources.dirty || noOfResources.touched || submitClicked)" class="e-error d-block">
                                <div *ngIf="noOfResources.errors.required">
                                    No of Resources is required.
                                </div>
                                <div *ngIf="noOfResources.errors.max">
                                    Maximum 10 characters are allowed
                                </div>
                                <div *ngIf="noOfResources.errors.min">
                                    Minimum 1 Resource needed 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-input-line col-6">
                        <div>
                            <label for="costPerHour">Cost Rate/Hr </label>
                            <sup class="text-danger">*</sup>
                        </div>
                        <div>
                                <ejs-numerictextbox class="e-input" name="costPerHour"
                                    formControlName="costPerHour" maxlength="10" [showSpinButton]='false'  maxlength="10">
                                </ejs-numerictextbox>
                        </div>
                    </div>
                    <div class="form-group form-input-line col-6">
                        <div>
                            <label for="currencyCode">Currency</label>
                           
                        </div>
                        <div>
                            <input class="e-input" formControlName="currencyCode" id="currencyCode" name="currencyCode"
                                type="text">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ejs-grid>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Manpower Details
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-wrap">
                <div class=" view-item  col-12">
                    <div> Task Code :</div>
                    <div> {{taskCode}} </div>
                </div>
                <div class="view-item col-12">
                    <div> Manpower Category : </div>
                    <div> {{manpowerCategory}} </div>
                </div>
                <div class="view-item col-12">
                    <div>No Of Resources: </div>
                    <div>{{noOfResourcesView}} </div>
                </div>
                <div class="view-item col-12">
                    <div>Cost Rate/hr: </div>
                    <div>{{costPerHour}} </div>
                </div>
                <div class="view-item col-12">
                    <div>Currency : </div>
                    <div>{{currencyCode}} </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-secondary m-0" (click)="modal.dismiss('Cross click')">
                Cancel
            </button>
        </div>
    </ng-template>
</div>
