<div class="modal-header">
    <h4 class="modal-title">Task Closing</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="startForm">
    <div class="modal-body">

        <div class="d-flex flex-wrap align-items-center">

            <div class="form-group form-input-line col-6">
                <div>
                    <label class="text-nowrap" for="startTime">Start Time</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <ejs-timepicker id="startTime" formControlName="startTime" [allowEdit]="false"
                        placeholder='Select a time'></ejs-timepicker>
                </div>
            </div>
            <div class="form-group form-input-line col-6"
                [ngClass]="{'e-error': endTime.invalid && (endTime.dirty || endTime.touched || submitClicked)}">
                <div>
                    <label for="endTime">End Time</label>
                    <sup class="text-danger">*</sup>
                </div>
                <div>
                    <ejs-timepicker id="endTime" formControlName="endTime" [allowEdit]="false"
                        placeholder='Select a time'></ejs-timepicker>
                    <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched || submitClicked)"
                        class="e-error d-block">
                        <div *ngIf="endTime.errors.required">
                            End Time is required.
                        </div>
                        <div *ngIf="endTime.errors.earlier">
                            End Time is earlier to start time
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-input-line col-12"
                [ngClass]="{'e-error': remarks.invalid && (remarks.dirty || remarks.touched || submitClicked)}">
                <div>
                    <label for="remarks">Remarks</label>
                </div>
                <div>
                    <textarea class="e-input" formControlName="remarks" id="remarks" name="remarks"
                        type="text"></textarea>
                    <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submitClicked)"
                        class="e-error d-block">
                        <div *ngIf="remarks.errors.maxlength">
                            Remarks cannot be more than 128 characters.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" (click)="submit()" class="btn btn-sm btn-primary"> Save</button>
        <button type="button" class="btn btn-sm btn-outline-secondary border-0"
            (click)="activeModal.close('Close click')">
            Cancel
        </button>

    </div>
</form>