<div class="bg-gray-200 h5 pl-2 py-1 m-0 text-center">
    Operation Details
</div>
<div class="d-flex flex-wrap">
    <div class="view-item col-12">
        <div>Name</div>
        <div>{{operation?.operationName}}</div>
    </div>
    <div class="view-item col-12">
        <div>Code</div>
        <div>{{operation?.operationCode}}</div>
    </div>
    <div class="view-item col-12">
        <div>Work Center</div>
        <div>{{workcenter?.workCenterName}}</div>
    </div>
    <div class="view-item col-12">
        <div>Is Subcontracted</div>
        <div>{{operationFromRoute?.isSubcontracted?'Yes':'No'}}</div>
    </div>
    <div class="view-item col-12">
        <div>Output required</div>
        <div>{{operationFromRoute?.isOutputRequired?'Yes':'No'}}</div>
    </div>
    <div class="view-item col-12">
        <div>Batch Control</div>
        <div>{{operationFromRoute?.batchControl?'Yes':'No'}}</div>
    </div>
    <div class="view-item col-12">
        <div>Backflush Material</div>
        <div>{{operationFromRoute?.backflushMaterial?'Yes':'No'}}</div>
    </div>
    <div class="view-item col-12">
        <div>Quality Check Operation</div>
        <div>{{operationFromRoute?.qualityControlRequired?'Yes':'No'}}</div>
    </div>
</div>