<div class="modal-header">
    <h4 class="modal-title">Add Manpower To Shift</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <div class="form-group form-input-line col-6">
            <div class="justify-content-start">
                <label for="machineId">Shift Name/Code</label>
                <sup class="text-danger">*</sup>
            </div>
            <div>
                <ejs-dropdownlist id='atcelement' name='machineId' #machineId [(ngModel)]="shift"
                    [dataSource]='productionShifts' [fields]='shiftFields' [allowFiltering]='true'
                    placeholder="Search a Shift" [itemTemplate]="ShiftCode" [valueTemplate]="ShiftCode"
                    (change)="onChange()">
                </ejs-dropdownlist>
                <span class="mt-1">
                    <ng-template #ShiftCode let-data>
                        {{data.shiftCode}} - {{data.shiftName}}
                    </ng-template>
                </span>
            </div>
        </div>
        <!-- <span *ngIf="showErrorMsg" style="padding-left: 5px;color: red;">Select Batch</span> -->
    </div>
    <ejs-grid #grid [dataSource]='manpowerToShift' [editSettings]='editSettings' [toolbar]='toolbar'
        (actionBegin)='actionBegin($event)' gridLines='Both' [searchSettings]='searchOptions'>
        <e-columns>
            <!-- <e-column headerText='S.No.' [allowEditing]="false" width="60">
                <ng-template #template let-d>
                    <div>{{ +d.index+1 }}</div>
                </ng-template>
            </e-column> -->
            <e-column field='manpowerCategoryCode' [valueAccessor]='getCategory' headerText='Manpower Category'
                width="120"></e-column>
            <e-column field='manpowerCode' [valueAccessor]='getManpower' headerText='Manpower' width="120"></e-column>
            <e-column headerText='Actions' [commands]='commands' width="60">
            </e-column>
            <ng-template #editSettingsTemplate let-data>
                <div [formGroup]="addForm">
                    <table class="e-table e-inline-edit" cellspacing="0.25">
                        <colgroup>
                            <!-- <col width="60"> -->
                            <col width="120">
                            <col width="120">
                            <col width="60">
                        </colgroup>
                        <tbody>
                            <tr>
                                <!-- <td width="60"></td> -->
                                <td style="text-align: right" class='e-rowcell'>
                                    <div class="form-group"
                                        [ngClass]="{'e-error': manpowerCategoryCode.invalid && (manpowerCategoryCode.dirty || manpowerCategoryCode.touched || submitClicked)}">
                                        <div>
                                            <ejs-dropdownlist name="manpowerCategoryCode"
                                                formControlName="manpowerCategoryCode" [allowFiltering]='true'
                                                placeholder="Search a Category" popupHeight='150px'
                                                [fields]="{text: 'categoryName', value: 'id'}"
                                                [dataSource]='manPowerCategories'>
                                            </ejs-dropdownlist>
                                            <div *ngIf="manpowerCategoryCode.invalid && (manpowerCategoryCode.dirty || manpowerCategoryCode.touched || submitClicked)"
                                                class="e-error d-block">
                                                <div *ngIf="manpowerCategoryCode.errors.required">
                                                    Manpower Category is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td style="text-align: right" class='e-rowcell'>
                                    <div class="form-group"
                                        [ngClass]="{'e-error': manpowerCode.invalid && (manpowerCode.dirty || manpowerCode.touched || submitClicked)}">
                                        <div>
                                            <ejs-dropdownlist name="manpowerCode" placeholder="Search Manpower"
                                                formControlName="manpowerCode"
                                                [fields]="{text: 'manpowerName', value: 'manpowerCode'}"
                                                [allowFiltering]='true' popupHeight='150px'
                                                [dataSource]='manpowerByCategory'>
                                            </ejs-dropdownlist>
                                            <div *ngIf="manpowerCode.invalid && (manpowerCode.dirty || manpowerCode.touched || submitClicked)"
                                                class="e-error d-block">
                                                <div *ngIf="manpowerCode.errors.required">
                                                    Manpower is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td style="text-align: right" class="e-rowcell e-unboundcell">
                                    <div class="e-unboundcelldiv">
                                        <button type="button" title="Update"
                                            class=" e-lib e-btn e-control e-flat e-icon-btn e-save-cancel e-savebutton"
                                            (click)="rowSave()">
                                            <span class="e-btn-icon e-icons e-update"></span>
                                        </button>
                                        <button type="button" title="Cancel"
                                            class="e-lib e-btn e-control e-flat e-icon-btn e-save-cancel e-cancelbutton"
                                            (click)="rowEditCancel()">
                                            <span class="e-btn-icon e-icons e-cancel-icon"></span>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </e-columns>
    </ejs-grid>

</div>
<div class="modal-footer">
    <button type="submit" (click)="submit()" class="btn btn-sm btn-primary"> Save</button>
    <button type="button" class="btn btn-sm btn-outline-secondary border-0" (click)="activeModal.close('Close click')">
        Cancel
    </button>

</div>