<div class="bg-gray-200 h5 pl-2 py-1 m-0 text-center">
    Routing Details
</div>
<div class="d-flex flex-wrap pt-2">
    <div class="view-item col-12">
        <div> Routing Name : </div>
        <div> {{route?.routingName}} </div>
    </div>
    <div class="view-item col-12">
        <div> Routing Code : </div>
        <div> {{route?.routingCode}} </div>
    </div>
    <div class="view-item col-12">
        <div>Production Line Name : </div>
        <div> {{route?.productionLineName}}</div>
    </div>
    <div class="view-item col-12">
        <div>Production Line Code :</div>
        <div> {{route?.productionLineCode}}</div>
    </div>
</div>